<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta name="format-detection" content="telephone=no">
        <meta http-equiv="X-UA-Compatible" content="IE=10; IE=9; IE=EDGE"/>
        <title></title>
        <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet"
              id="bootstrap-css">
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="span12">
                    <form class="form-horizontal" action="" method="POST">
                        <fieldset>
                            <div id="legend">
                                <legend class="">Login</legend>
                            </div>
                            <div class="control-group">
                                <!-- Username -->
                                <label class="control-label" for="username">Username</label>
                                <div class="controls">
                                    <input type="text" id="username" name="username" placeholder="" value="{{
          request.form.username }}" class="input-xlarge">
                                </div>
                            </div>
                            <div class="control-group">
                                <!-- Password-->
                                <label class="control-label" for="password">Password</label>
                                <div class="controls">
                                    <input type="password" id="password" name="password" placeholder="" value="{{
          request.form.password }}" class="input-xlarge">
                                </div>
                            </div>
                            <div class="control-group">
                                <!-- Button -->
                                <div class="controls">
                                    <button class="btn btn-success">Login</button>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
            {% if error %}
                <p class="error"><strong>Error:</strong> {{ error }}
            {% endif %}
            {% for message in get_flashed_messages() %}
                {{ message }}
            {% endfor %}
        </div>
    </body>
</html>

